%footer.footer#footer
  .container
    %small.footer-license
      主催:
      = link_to 'Asakusa.rb', 'https://asakusarb.esa.io/', class: 'footer-license__link', target: '_blank'
    %small.footer-designers
      %ul.footer-designers__items
        %li.footer-designers__item
          メインビジュアルデザイン:
          = link_to "@maztomo", "https://twitter.com/maztomo", taget: "_blank", class: "footer-designers__link"
        %li.footer-designers__item
          Webデザイン:
          = link_to "@machida", "https://twitter.com/machida", taget: "_blank", class: "footer-designers__link"

:javascript
  Mojik.compose(".js-mojik");
  smoothScroll.init();
