%header.header#header
  .container
    .header__inner
      %h1.header__logo.is-hidden-sm-down
        = link_to '/', class: 'header__logo-link' do
          = image_tag('header-logo.svg', class: 'header__logo-image')
      = partial('partials/header_nav')
