%section.past-kaigis
  %h2.past-kaigis__title 過去の開催
  %ol.past-kaigis__items
    - data.oedo06.past_kaigis.kaigis.each do |kaigi|
      %li.past-kaigis__item
        - if kaigi.url.present?
          = link_to kaigi.title, kaigi.url, class: 'past-kaigis__item-link'
        - else
          .past-kaigis__item-link
            = kaigi.title
