%section.section
  .container
    .section__inner
      %header.section__header
        %h1.section__primary-headding
          スポンサー
      .section__body
        .row
          - data.oedo06.sponsors.each do |sponsor|
            .col-md-6.col-xs-12
              = partial 'partials/sponsor', locals: { sponsor: sponsor }
