%section.section#venue
  .container
    .section__inner
      %header.section__header
        %h1.section__primary-headding
          会場
      .section__body
        .row
          .col-md-6.col-xs-12
            .section__content.venue-address
              %h2.venue__name.section__secondary-headding
                ソラシティカンファレンスセンター
              %address.venue__address
                東京都千代田区神田駿河台 4-6
                %br.is-hidden-md-up
                御茶ノ水ソラシティ
              .venue__map
                = link_to 'https://goo.gl/xXVXIv', class: 'venue__map-link', target: '_blank' do
                  %i.fa.fa-map-marker
                  Google Map
          .col-md-6.col-xs-12
            .venue__access.section__content
              %h3.section__primary-label.venue__access-title
                アクセス
              %ul.venue__access-items
                %li.venue__access-item
                  JR 中央線・総武線 御茶ノ水駅 聖橋口から徒歩 1 分
                %li.venue__access-item
                  東京メトロ千代田線 新御茶ノ水駅 B2出口 直結
                %li.venue__access-item
                  東京メトロ丸ノ内線 御茶ノ水駅 出口1から徒歩 4 分
                %li.venue__access-item
                  都営地下鉄 新宿線 小川町駅 B3出口から徒歩 6 分
