// colors
$red: #cd2702
$white: #fff
$blue: #1469bf
$black: #000
$yellow: #fdd469
$gray: #aaa

$default-text: $white
$reversal-text: $blue
$linkColor: $yellow

// root colors
$root-background-color: $blue
$root-color: $default-text

// brand colors
$base-color: $blue
$sub-color: $white
