- @pageId = 'home'

-# main-visual
= partial('partials/main_visual')

-# venue
-# = partial('partials/venue')

-# speakers
-# = partial('partials/speakers')

-# time_table
-# = partial('partials/time_table')

-# team
-# = partial('partials/team')

-# past-kaigis
-# = partial('partials/past_kaigis')
