.footer
	+margin(horizontal, auto)
	margin-top: 10rem
	+padding(vertical, 3rem)
	text-align: center
	background-color: $dark-main-color
	position: relative
	+media-breakpoint-down(sm)
		margin-top: 8rem
		+padding(vertical, 2rem 4rem)
	&::before
		content: ''
		+size(100% 7rem)
		background-image: image_url('city.svg')
		background-size: auto 7rem
		background-repeat: repeat-x
		+position(absolute, left 0, top -6.9rem)
	&::after
		content: ''
		+size(100% 5.5rem)
		background-image: image_url('kaminari.svg')
		background-size: auto 5.5rem
		background-repeat: no-repeat
		background-position: center
		+position(absolute, left 0, top -4rem)

.footer-license
	font-size: .875rem
	line-height: 1.5
	display: block
	margin-bottom: .75rem
	+position(relative, 1)

.footer-designers
	font-size: .75rem
	line-height: 1.5
	display: block
	+position(relative, 1)

.footer-license__link
	color: $default-text
	&:hover
		text-decoration: underline

.footer-designers__item
	&:not(:last-child)
	margin-bottom: .25rem

.footer-designers__link
	color: $default-text
	&:hover
		text-decoration: underline
