.party-container__content {
  width: 900px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.party-info__container {
  margin-top: 60px;
  width: 460px;
  margin-right: auto;
}
.party-info__date {
  font-size: 30px;
  line-height: 1.2;
}
.party-info__time {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 6px;
}
.party-info__venue {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 18px;
}
.party-info__capacity,
.party-info__price {
  font-size: 14px;
  line-height: 1.4;
  margin-left: 1em;
}
.party-info__address {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 4px;
  margin-left: 1em;
}
.party-info__venue-jp {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  font-family: "ヒラギノ角ゴ Pro W6",HiraKakuPro-W6,sans-serif;
  margin-top: 18px;
}
.party-info__address-jp {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  font-family: "ヒラギノ角ゴ Pro W6",HiraKakuPro-W6,sans-serif;
  margin-top: 4px;
  margin-left: 1em;
}
.party-info__link-items {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 18px;
}
.party-info__link-item {
  color: $yellow;
}
.party-info__link {
  color: $yellow;
  text-decoration: underline;
  margin-right: 1em;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}
.party-image__container {
  margin-top: 60px;
  width: 400px;
  text-align: center;
}
.party-image {
  width: 100%;
}
.party-image__text {
  margin-top: 6px;
  text-align: right;
}
.party-host__link-items {
  font-size: 16px;
  line-height: 1.6;
}
.party-host__link-item {
  color: $yellow;
}
.party-host__link {
  color: $yellow;
  text-decoration: underline;
  margin-right: 1em;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}
.party__title {
  padding: 60px 0 6px 10px;
  border-bottom: 1px solid #fff;
}
