.policy-container__content {
	padding-top: 50px;
}

.policy-container__content-sentence {
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 36px;
}

.policy-container__content-sentence-jp {
	margin-bottom: 36px;
}

.policy-container__content-list {
	margin: 0 0 30px 2em;
}

.policy-container__content-list-item {
  list-style-type: circle;
}
