.sponsors
  margin-bottom: 3rem

.sponsor
  text-align: center

.sponsor__logo
  border: .375rem solid rgba($black, .18)
  border-radius: 10px
  overflow: hidden
  +size(13.75rem auto)
  +margin(horizontal, auto)
  margin-bottom: .5rem
  +media-breakpoint-only(md)
    +margin(horizontal, auto)
  +media-breakpoint-down(sm)
    +size(8rem auto)
    border: .25rem solid rgba($black, .18)

.container.is-sponsor
  max-width: 50rem
  +margin(horizontal, auto)

.sponsor__logo-image
  +size(100%)
  display: block

.sponsor-list__overview
  display: flex
  justify-content: center
  flex-direction: column

.sponsor__name-link
  +text-block(2rem 1.45, $default-text)
  font-family: 'Signika', sans-serif
  +hover-link
  transition: color .2s ease-in
  +media-breakpoint-down(sm)
    +text-block(1.25rem)
  &:hover
    color: $accent-color

.sponsor__url-link
  +text-block(1rem 1.45, $muted-text)
  &:hover
    color: $accent-color

.sponsor__description
  font-size: 16px
  line-height: 1.6
  margin-top: 22px

.ticket-sponsor
  margin-top: 1rem
  text-align: center

.ticket-sponsor__label
  +text-block(.75rem 1.45, 400)

.ticket-sponsor__link
  &:hover
    opacity: .7

.ticket-sponsor__logo
  +size(200px auto)
