.sponsor-container__content-two-columns {
  display: flex;
}
.sponsor-container__content-column {
  width: 450px;
	 padding: 50px 0 0;
}
.sponsor {
  display: flex;
  margin-bottom: 46px;
}
.sponsor__logo {
  margin-right: 40px;
  border: 6px solid rgba($black, 0.2);
  border-radius: 10px;
  overflow: hidden;
  align-items: flex-start;
  img {
    width: 100%;
  }
}
.sponsor-list__xl {
	 .sponsor__logo {
		  width: 340px;
    height: 340px;
	 }
}
.sponsor-list__lg {
	 .sponsor__logo {
		  width: 320px;
    height: 320px;
	 }
}
.sponsor-list__md {
	 .sponsor__logo {
		  width: 260px;
    height: 260px;
	 }
}
.sponsor-list__md-2 {
	 .sponsor__logo {
		  width: 220px;
    height: 220px;
	 }
}

.sponsor-list__overview {
  flex: 1;
}
.sponsor__name {
  font-size: 24px;
  line-height: 1.4;
 	a {
		 	&:hover {
      color: $yellow;
      text-decoration: none;
			}
	 }
}
.sponsor__url {
  font-size: 13px;
  margin-top: 4px;
}
.sponsor__description {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 22px;
}
.sponsor-list__sm {
  display: flex;
  flex-wrap: wrap;
	 .sponsor {
    width: 430px;
    margin-right: 40px;
			 &:nth-child(2n) {
				  margin-right: 0;
			 }
 	}
  .sponsor__logo {
		  width: 160px;
    height: 160px;
    margin-right: 20px;
	 }
}
.sponsor-list__xs {
  display: flex;
  flex-wrap: wrap;
	 .sponsor {
    width: 430px;
    margin-right: 40px;
			 &:nth-child(2n) {
				  margin-right: 0;
			 }
 	}
  .sponsor__logo {
		  width: 120px;
    height: 120px;
    margin-right: 20px;
	 }
}
